@model IEnumerable<AdventureTravelsVer1.Models.Rating>

@{
    ViewBag.Title = "UserIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Click here to Give Feedback", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RatingScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feedback)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RatingScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
        </tr>
    }

</table>
