<!DOCTYPE html>
<html>
<head>
    <!-- include libraries(jQuery, bootstrap) -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @if (User.IsInRole("Admin"))
            {
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Adventure Travels", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Send Email", "Send_Email", "Admin")</li>
                        <li>@Html.ActionLink("Bulk Email", "Bulk_Email", "Admin")</li>
                        <li>@Html.ActionLink("User Details", "Index", "AspNetUsers")</li>
                        <li>@Html.ActionLink("Booking Details", "Index", "Bookings")</li>
                        <li>@Html.ActionLink("Review Rating", "Index", "Ratings")</li>
                        <li>@Html.ActionLink("Image Upload", "Index", "Images")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>

            }
            else if (User.IsInRole("FlightProvider"))
            {
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Adventure Travels", "Index", "Flights", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Flight Information", "Index", "Flights")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            }
            else
            {
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Adventure Travels", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Pricing Chart", "MyChart", "Home")</li>
                        <li>@Html.ActionLink("Search flights", "FlightSearch", "Flights")</li>
                        <li>@Html.ActionLink("Map it", "LocationMap", "Home")</li>
                        <li>@Html.ActionLink("Promotions", "IndexUser", "Images")</li>
                        <li>@Html.ActionLink("Rate Us", "UserIndex", "Ratings")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            }
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Adventure Travels</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
